<ul>
  <h1>Songs<h1>
<%= form_tag customers_upload_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag %>
<% end %>
<ul>
<% @customers.each do |customer| %>
<% @songs.each do |song| %>
  <li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>
